.title{
    font-style: oblique;
    text-align: center;
    padding:  5px;
   }
.button{text-align: left;
    padding:  5px;
    font-size: small;
    }
.user{
    alignment: right;
    padding:  5px;
    font-size: small;
   }
.citata{
    text-align: end;
}