<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:head>
        <title>Registration</title>
    </h:head>
    <h:body>
        Имя: <h:inputText value = "#{registration.name}"/>
        <br/>
        Фамилия: <h:inputText value = "#{registration.lastName}"/>
        <br/>
        Почта: <h:inputText value = "#{registration.email}"/>
        <br/>
        Пароль: <h:inputText value = "#{registration.password}"/>
        <br/>
        Номер категории: <h:inputText value = "#{registration.idCategory}"/>
        <br/>
        <h:commandButton value="Зарегистрироваться" action=""/>
    </h:body>
</f:view>
</html>
